.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100vw;
  height: 50px;
  border-bottom: 1px solid rgb(225, 225, 225);
  display: flex;
  align-items: center;
  background-color: rgb(252, 252, 252);
}

.searchFolder {
  height: 50px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid rgb(225, 225, 225);
}

.searchFolder input {
  height: 20px;
  width: 175px;
  padding: 15px;
  border: 0.5px solid rgb(225, 225, 225);
}

.create {
  height: 50px;
  display: flex;
  width: 200px;
  align-items: center;
  justify-content: center;
  border-right: 1px solid rgb(225, 225, 225);
  color: rgb(125, 125, 125);
  cursor: pointer;
}

.create:hover{
  background-color: rgb(235, 235, 235);
}

.create p{
  margin-left: 4px;
}

.account {
  width: calc(100vw - 400px);
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: 12px;
  height: 50px;
}

.account p {
  color: rgb(125, 125, 125);
  font-size: 13.5px;
}

.account button {
  height: 20px;
  width: 125px;
  margin-right: 15px;
  margin-left: 30px;
  padding: 15px;
  border: 0.5px solid rgb(225, 225, 225);
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(125, 125, 125);
  cursor: pointer;
}

.closeModal {
  background-color: transparent;
  border: 0;
  color: rgb(210, 210, 210);
  cursor: pointer;
}

.closeModal:hover {
  color: rgb(155, 155, 155);
}

.noteOptions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.saveUpdate {
  height: 20px;
  width: 125px;
  margin-right: 15px;
  margin-left: 30px;
  padding: 15px;
  border: 0.5px solid rgb(225, 225, 225);
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(125, 125, 125);
  cursor: pointer;
}

.form{
  width: 100%;
  height: 75vh;
  margin-top: 35px;
  display: flex;
  flex-direction: column;
}

.form input {
  border: 0;
}

.form input:focus {
  border: 0;
  outline: 0;
}

.folderInput {
  font-size: 16px;
  margin-left: 30px;
  border: 0;
}

.folderInput:focus {
  outline: 0;
  border: 0;
}

.titleInput {
  font-weight: bolder;
  font-size: 32px;
  margin-bottom: 25px;
}

.noteInput {
  font-size: 16px;
}

.main {
  width: 100vw;
  height: calc(100vh - 50px);
  display: flex;
}

.folders {
  width: 200px;
  height: calc(100vh - 50px);
  overflow: auto;
  background-color: rgb(252, 252, 252);
  border-right: 1px solid rgb(225, 225, 225);
}

.cards {
  border-bottom: 1px solid rgb(225, 225, 225);
  font-size: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.noteFolder {
  color: gray;
  margin-left: 15px;
}

.options {
  width: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}

.options button {
  background-color: transparent;
  border: 0;
  color: rgb(210, 210, 210);
  cursor: pointer;
}

.options button:hover {
  color: rgb(155, 155, 155);
}

.notes {
  width: 200px;
  height: calc(100vh - 50px);
  overflow: auto;
  background-color: rgb(252, 252, 252);
  border-right: 1px solid rgb(225, 225, 225);
}

.note {
  width: calc(100% - 400px);
  height: calc(100vh - 50px);
  overflow: auto;
  padding: 55px 60px;
}

.note h1 {
  font-size: 32px;
  margin-bottom: 25px;
}

.note p {
  font-size: 16px;
}