.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100vw;
  height: 50px;
  border-bottom: 1px solid gray;
  display: flex;
  align-items: center;
}

.searchFolder {
  height: 50px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid gray;
}

.selectedFolder {
  height: 50px;
  display: flex;
  width: 200px;
  align-items: center;
  justify-content: center;
  border-right: 1px solid gray;
}

.account {
  width: calc(100vw - 400px);
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: 12px;
  height: 50px;
}

.formContainer {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form{
  width: 85vw;
  height: 85vh;
  border: 1px solid black;
  background-color: white;
}

.main {
  width: 100vw;
  height: calc(100vh - 50px);
  display: flex;
}

.folders {
  width: 200px;
  border-right: 1px solid gray;
}

.cards {
  border-bottom: 1px solid gray;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.noteFolder {
  color: gray;
}

.options{
  background-color: transparent;
  border: 0;
  cursor:pointer;
}

.notes {
  width: 200px;
  border-right: 1px solid gray;
}

.note {
  width: calc(100% - 400px);
}